schema/domain-metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://olivearchive.org/xmlns/vmnetx/domain-metadata"
    elementFormDefault="qualified">
  <xs:element name="vmnetx">
    <xs:complexType>
      <xs:all>
        <xs:element name="limit_mouse_rate" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="hz" type="xs:positiveInteger" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
